useDynLib(CARD, .registration=TRUE)
importFrom(Rcpp, evalCpp)
## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
exportPattern("^[[:alpha:]]+")

import(concaveman)
import(sp)
import(Matrix)
import(methods)
import(ggplot2)
import(ggcorrplot)
import(spatstat)


importFrom("SummarizedExperiment","assays")
importFrom("SummarizedExperiment","colData")
importFrom("SingleCellExperiment","SingleCellExperiment")
importFrom("fields","rdist")
importFrom("MCMCpack","rdirichlet")
importFrom("dplyr",'%>%')
importFrom("sf","st_as_sf")
importFrom("RANN","nn2")
importFrom("stats", "var")
importFrom("stats", "quantile")
importFrom("stats", "runif")
importFrom("reshape2", "melt")
importFrom("RColorBrewer","brewer.pal")
importFrom("scatterpie","geom_scatterpie")
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "cor")
importFrom("nnls", "nnls")
importFrom("pbmcapply","pbmclapply")
importFrom("gtools","mixedsort")
importFrom("RcppML","nmf")
importFrom("NMF","nmf")
importFrom("wrMisc","rowGrpMeans")

